@use 'sass:math';
@import './variables.scss';

.form {
  @include bebas-neue-pro-regular();
  max-width: 500px;
  padding: rem(20);
  display: flex;
  flex-direction: column;
  color: $white;
  font-size: rem(24);
  text-transform: uppercase;
  background-color: $blue;

  .formControl {
    margin-bottom: rem(10);
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
      padding-right: 10px;
      font-weight: 600;
    }

    input,
    select {
      width: 100%;
      border: none;
      color: $blue;
      font-family: inherit;
      font-size: inherit;

      &::placeholder {
        color: $gray;
        opacity: 1;
      }
    }

    .checkboxLabel {
      padding: 0;
      display: flex;
      align-items: flex-start;
      font-size: 16px;
      text-align: left;

      input {
        width: rem(20);
        height: rem(20);
      }

      span {
        padding-left: rem(10);
        flex: 1;
        text-transform: none;
      }
    }

    .error {
      position: relative;
      padding: 0 0.4em;
      margin-top: math.div(4, 16) + em;
      align-self: center;
      color: $blue;
      font-size: 16px;
      background-color: $white;

      &::before,
      &::after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        width: 0;
        height: 0;
        content: '';
        transform: translateX(-50%);
      }

      &::before {
        border-right: 8px solid transparent;
        border-bottom: 12px solid $blue;
        border-left: 8px solid transparent;
      }

      &::after {
        z-index: 10;
        border-right: 6px solid transparent;
        border-bottom: 10px solid $white;
        border-left: 6px solid transparent;
      }
    }

    button {
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;
    }
  }
}
