@import './variables.scss';

.form {
  @include bebas-neue-pro-regular();
  max-width: 500px;
  padding: rem(20);
  display: flex;
  flex-direction: column;
  color: $white;
  font-size: rem(24);
  text-transform: uppercase;
  background-color: $blue;

  .formControl {
    margin-bottom: rem(10);
    display: grid;
    grid-template-columns: 40% 60%;

    label {
      padding-right: 10px;
      text-align: right;
    }

    input {
      border: none;
      font-family: inherit;
      font-size: inherit;

      &:invalid {
        border: 2px solid red;
      }
    }

    select {
      font-family: inherit;
      font-size: inherit;
    }

    .checkboxLabel {
      padding: 0;
      display: flex;
      align-items: flex-start;
      grid-column: 2 / span 1;
      font-size: 16px;
      text-align: left;

      input {
        width: rem(20);
        height: rem(20);
      }

      span {
        padding-left: rem(10);
        flex: 1;
        text-transform: none;
      }
    }

    button {
      grid-column: 2 / span 1;
      font-family: inherit;
      font-size: inherit;
      cursor: pointer;
    }
  }
}
